PORT=3000
MONGODB_URI=mongodb+srv://username:password@cluster0.gfb3ctf.mongodb.net
DB_NAME=BloggerNest

CORS_ORIGIN=*

ACCESS_TOKEN_SECRET=bufewb
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=fwkjns
REFRESH_TOKEN_EXPIRY=10d


CLOUDINARY_CLOUD_NAME=EXAMPLE.NAME
CLOUDINARY_API_KEY=EXAMPLE.API.KEY
CLOUDINARY_API_SECRET=EXAMPLE.API.SECRET